html{
    background-color: #EDF2C5;
    font-family: Arial Black;
    box-sizing: border-box;
}

*{
    box-sizing: border-box;
    text-decoration:none;
    border-radius: 3px;
}

body{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.container{
    margin: 40px auto 0;
    max-width: 940px;
}

.header{
    display: block;
    font-size: 30px;
    font-weight: 500;
}

.top-area{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    color: #778A50;
    font-size: 2.75rem;
}

.icon{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 25px;
}


.button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #778A50;
    color: #778A50;
    font-family: arial;
    font-weight: bold;
    font-size: 0.875rem;
}

.login{
    width: 60px;
}

.join{
    width: 49px;
}

.vertical-line{
    height: 100%;
    width: 1px;
    background-color: #778A50;
}

.navigater{
    background-color: #778A50;
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    margin: 5px 0 20px;
    padding-left: 4px;
}

.nav-item{
    display: flex;
    align-items: center;
    height: 80%;
    padding: 0 25px;
    font-size: 1rem;
    color: #EDF2C5;
    transition: 0.2s linear;
}

.nav-item:hover {
    background-color: #EDF2C5;
    color: #778A50;
}

.main-area{
    display: block;
}

.main-picture{
    margin: 0px 0 -20px;
}

.sidebar{
    display: flex;
    justify-content: space-between;
}

.ctn-leftside{
    width: 444px;
    margin: 30px 0 35px;
}

.ctn-rightside{
    width: 444px;
    margin: 30px 0 35px;
}

.title-vegetables{
    background-color: #778A50;
    color: #EDF2C5;
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.vegetable-imgs{
    display: flex;
    justify-content: space-between;
}

.title-contact{
    background-color: #778A50;
    color: #EDF2C5;
    display: flex;
    align-items: center;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 30px;
}

.info{
    align-items: center;
    padding: 5px 5px 15px;
    background-color: #F7FBDA;
    color: #7D7D7D;
}

.text{
    color: gray;
    font-size: 0.75rem;
    font-family: arial;
    align-items: center;
}

.contact-numbers{
    color: gray;
    font-size: 0.75rem;
    font-family: arial;
    align-items: center;
}

.horizontal-line{
    height: 1px;
    width: 100%;
    background-color: gray;
   
}


.footer{
    background-color: #778A50;
    font-size: 12px;
    font-family: arial;
    display: flex;
    justify-content: center;
    min-width: 940px;
    line-height: 60px;
}

